body{background-color: #dce4e5 !important}


header{
    .bgheader{
        max-width: 1200px; margin-left:auto; margin-right:auto; text-align: center;
        .top-cr {max-width: 90%; margin-top:-100px;}
    }
}











.show-desctop {
    display: block !important;
  }
  
  .show-mobile {
    display: none !important;
  }
  
  
  @media screen and (min-width: 1200px) {
  
  }
  
  @media screen and (max-width: 1200px) {
   
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
  
  }
  
  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 768px) {
    .show-desctop {
      display: none !important;
    }
  
    .show-mobile {
      display: block !important;
    }
  }
  
  @media screen and (max-width: 480px) {
  
  }
  
  
  
  
  
  